.card{
    height: 100px;
    width: 70vw;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.405);
    margin-top: 10px;
    padding: 15px;

}

.card > h1{
    font-size: 90%;
    color: #2146C7;
    font-family: 'Roboto', sans-serif;
}

.card > p{
    font-size: 40%;
    font-family: 'Roboto', sans-serif;
}