.login-body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.bg-blue-midgray{
    background: #37474f;
}

.bg-blue-fullgray{
    background: #263238;
}

.h-60{
    height: 60%;
}

.tec_logo{
    width: 110px;
    height: auto;
}

.illustration{
    width: 300px;
    height: auto;
}
