body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.react-calendar{
    border: none;
    width: 90vw;
    margin-top: 10px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-home{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

.title-contain{
    width: 100vw;
    display: flex;
    padding-left: 50px;
}

.c-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}